<div id="actividades" class="sm:w-4/5 mx-auto mb-40 w-full p-6">
    <h2 class="h-title">Actividades</h2>
    <p>A continuación se muestra una lista de las actividades que se realizan en el club. Animate e inscríbete!</p>
    <table class="table-fixed sm:w-4/5 mx-auto m-4 w-full">
        <thead class="border-b-2">
            <tr class="font-bolder">
              <th class="p-2">Actividad</th>
              <th>Días</th>
              <th>Horario</th>
              <th>Lugar</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-secondary-color">
              <td class="p-2">Tenis Junior</td>
              <td>Lunes y Miércoles</td>
              <td>16:00 - 18:00</td>
              <td>Cancha de Tenis 1</td>
            </tr>
            <tr>
              <td class="p-2">Clases preparación</td>
              <td>Martes y Jueves</td>
              <td>17:30 - 19:00</td>
              <td>Cancha de Tenis 2</td>
            </tr>
            <tr class="bg-secondary-color">
              <td class="p-2">Torneo de Tenis Amistoso</td>
              <td>Sábado</td>
              <td>10:00 - 14:00</td>
              <td>Canchas de Tenis</td>
            </tr>
            <tr>
                <td class="p-2">Iniciación</td>
                <td>Sábado</td>
                <td>10:00 - 14:00</td>
                <td>Canchas de Tenis 2</td>
              </tr>
        </tbody>
    </table>
</div>