<footer class="z-20 fixed bottom-0
               px-5 w-full  
               bg-secondary-color text-xs">
    <hr>
    <div>
        <ul class="mt-4 text-end">
            <li>(+34) 657-956783</li>
            <li><a href="mailto:info@t-nis.com?Subject=Info">info@t-nis.com</a></li>
            <li><b>HORARIO</b>
              <ul>
                <li>Lunes a Viernes: 9h - 19h</li>
                <li>Sabado: 10h - 19h</li>
                <li>Domingo: Cerrado</li>
              </ul>
            </li>
        </ul>
    </div>
    <div class="md:mb-5
                md:flex md:flex-wrap md:justify-between">
        <a href="../src/index.html">
          <img src="./assets/images/logoT3.png" class="h-12"/>
        </a>
        <nav class="pt-3">
            <a href="../src/article.html"           class="ml-2">Artículos</a>
            <a href="../src/index.html#actividades" class="ml-2">Actividades</a>
            <a href="#inscribete"                   class="ml-2">Inscríbete</a>
        </nav>
        <div class="flex flex-wrap items-center mt-3">
            <a href="https://www.facebook.com/?locale=es_ES">
              <img src="./assets/images/facebook.png" class="h-6 mr-3"/>
            </a>
            <a href="https://www.facebook.com/?locale=es_ES">
              <img src="./assets/images/google-mas.png" class="h-6 mr-3"/>
            </a>
            <a href="https://www.facebook.com/?locale=es_ES">
              <img src="./assets/images/twitter.png" class="h-6 mr-3"/>
            </a>
        </div>
    </div>
</footer>