<footer class="w-full z-20	fixed bottom-0 bg-secondary-color text-xs px-5">
    <hr>
    <div>
        <ul class="text-end mt-4">
            <li>(+34) 657-956783</li>
            <li><a href="mailto:info@t-nis.com?Subject=Info">info@t-nis.com</a></li>
            <li><b>HORARIO</b><ul><li>Lunes a Viernes: 9h - 19h</li><li>Sabado: 10h - 19h</li><li>Domingo: Cerrado</li></ul></li>
        </ul>
    </div>
    <div class="md:flex md:flex-wrap md:justify-between md:mb-5"> 
        <a href="../src/index.html"><img class="h-12 " src="./assets/images/logoT3.png"/></a>
        <nav class=" pt-3">
                <a class="ml-2" href="../src/article.html">Artículos</a>
                <a class="ml-2" href="../src/index.html#actividades">Actividades</a>
                <a class="ml-2" href="#inscribete">Inscríbete</a>
        </nav>
        <div class="flex flex-wrap items-center mt-3">
            <a href="https://www.facebook.com/?locale=es_ES"><img class="h-6 mr-3" src="./assets/images/facebook.png"/></a>
            <a href="https://www.facebook.com/?locale=es_ES"><img class="h-6 mr-3" src="./assets/images/google-mas.png"/></a>
            <a href="https://www.facebook.com/?locale=es_ES"><img class="h-6 mr-3" src="./assets/images/twitter.png"/></a>
        </div>
    </div>
</footer>