<nav class="w-full mb-8
            text-center text-sm 
            border-b-2">
  <div class="p-4 
              md:flex md:flex-wrap md:justify-between md:items-center">
    <a href="../src/index.html">
      <img src="./assets/images/logoT.png" class="h-12 mx-auto 
                                                  sm:mx-0" />
    </a>
    <nav class="inline-flex items-center 
                md:p-2">
      <a href="../src/index.html#actividades" class="px-3">Actividades</a>
      <a href="../src/article.html" class="px-3">Artículos</a>
      <a href="#inscribete" class="px-3">Inscríbete</a>
    </nav>
  </div>
</nav>