@tailwind base;
@tailwind components;

@import "npm:@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Montserrat:ital,wght@0,300;0,400;1,100;1,500;1,600;1,700&family=Roboto:wght@100&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
 
@layer base {
    html {
      font-family: 'Montserrat', sans-serif;;
    }
}
  
@layer components {
    .h-title {
      @apply font-h2Title text-mainColor text-2xl text-center uppercase my-3 ;
    }
    .buttons{
      @apply text-center text-white	p-5 border rounded-md;
    }
    .labels{
        @apply text-sm font-medium text-gray-900 leading-6 block;
    }
    .inputs{
        @apply  text-gray-900 w-full py-3 border rounded-md bg-white block 
                placeholder:text-gray-400 
                focus:ring-0 
                sm:text-sm sm:leading-6;
    }
    .list{
        @apply before:content-['1'] before:inline-block before:h-9 before:border-solid before:mr-5 before:leading-6 before:border-black before:rounded-lg before:text-black before:font-bolder before:w-2 before:text-center
    }
}

@tailwind utilities;
